@font-face {
  font-family: 'longyin';
  src: url('../assets/fonts/longyin.ttf');
}
#home-title {
  font-family: 'longyin';
  font-size: 85px;
  font-weight: unset;
  text-align: center;
}
#home-content {
  font-family: 'longyin';
  text-align: center;
  font-weight: lighter;
}
#rewardButton span {
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 50%;
  background: #f44336c2;
  box-shadow: 0px 0px 14px 1px rgba(200, 0, 0, 0.9);
}
